/* ========== effect position =========== */
$left: 0;
$top: 0;
/* ========== Color =========== */

$black_29313D: #29313D;
$black1_545A64: #545A64;
$b_blue_8454F5: #8454F5;
$blue_181059: #181059;
$b_rgb_8454F5: rgba(132, 84, 245, 0.1);
$white_FFFFFF: #FFFFFF;
$white1_FCFCFE: #FCFCFE;
$white2_F8FAFC: #F8FAFC;
$yellow_FFC556: #FFC556;
$yellow1_FFC556: #FEC35F;

/* ========== font size =========== */
$fontsize_18: 18px;
$fontsize_20: 20px;
$fontsize_24: 24px;
$fontsize_28: 28px;
$fontsize_30: 30px;
$fontsize_36: 36px;
$fontsize_64: 64px;
$fontsize_56: 56px;

/* ========== font weight =========== */
$fontweight_600: 600;
$fontweight_700: 700;
$fontweight_400: 400;

/* ========== line height =========== */
$l_200: 200%;
$l_180: 180%;
$l_140: 140%;
$l_120: 120%;
$l_100: 100%;


/* ========== font family =========== */
$font-family_n: 'Nunito', sans-serif;
$font-family_o: 'Open Sans', sans-serif;